@page
@model IndexModel
@{
    //This is replaced in layout Title
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.BookName! </h1>
</div>

